<md-toolbar class="asdf">
  <h1 (click)="home()">Finding Memo</h1>
  
</md-toolbar>


<!--<md-sidenav-layout>
  <md-sidenav #start (click)="start.close()">
    <md-toolbar class="toolbar">
      <h1 #menu>Menu</h1>
    </md-toolbar>

    <!--sidebar-->
    <!--<md-list>
      <md-list-item>
        <a [routerLink]="['/main-view']">Find Items</a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/analytics']">Analytics</a>
      </md-list-item>
      <md-list-item>
        <a>Tasks</a>
      </md-list-item>
      <md-list-item>
        <a>Settings</a>
      </md-list-item>
    </md-list>
   </md-sidenav>-->
<!--
   <md-toolbar class="toolbar">
      <div>
        <button md-icon-button (click)="start.open()"><i class="material-icons">menu</i></button>
      </div>
   </md-toolbar>
   
  
</md-sidenav-layout>-->
<router-outlet></router-outlet>