
<img src="{{selectedItem?.imagePath}}" alt="" class="img-responsive"  style="background-color:red">
<!--can't change style-->


<h1>{{selectedItem?.name}}</h1>
<p>Lost count: {{selectedItem?.count}}</p>
<br />

<ul>
  <li *ngFor="let word of selectedItem?.keyWords">
    {{ word }}
  </li>
</ul>

<br />
<br />
<!--<button (click)="foundItem()" md-raised-button #findButton>FOUND!</button>-->

<input class = "ng-hide" id= "input-file-id" multiple type ="file" accept = "image/*" capture="camera" />
<label for="input-file-id" class="md-button md-raised md-primary"> FOUND! </label>

<!--<input type ="file" accept = "video/*" id ="capture" capture="camera">-->


<!--<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Snap Photo</button>
<canvas id="canvas" width="640" height="480"></canvas>-->


